.FiltreAvance {
  margin-top: 80px;
  display: flex; 
  align-items: flex-start; 
  padding: 20px; 
}

.FiltreAvance_left {
  flex: 1;
  padding: 25px;
}

.FiltreAvance_right {
  flex-direction: column;
  padding: 12px;
  flex: 4;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: 170px;
}

.FiltreAvance_featured {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.FiltreAvance_featured h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: 5px solid #ff5722;
  padding-left: 10px;
}

.FiltreAvance_cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.FiltreAvance_card {
  flex: 1;
  max-width: 300px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.FiltreAvance_card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.FiltreAvance_card p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.FiltreAvance_buttom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-top: 30px;
  row-gap: 1px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.buttom h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-left: 5px;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden; 
  width: 0; 
  animation: typing 6s steps(40, end) infinite; 
  text-align: left; 
  direction: ltr;
  border-right: none; 
}