.appdownload{
    margin: auto auto;
    margin-top: 40px;
    font-size : 40px;
    text-align: center;
    font-weight: 500 ;
}
.appdownload p{
    animation: typing 6s steps(40, end) infinite; 
    white-space: nowrap;
    overflow: hidden; 
    width: 0; 
    animation: typing 6s steps(50, end) infinite; 
}





.wave-container {
    position: relative;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    overflow: hidden;
  }
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
.app-download-platforms{
    height: 70px;
    display: flex;
    gap: max(1vw,5px) ;
    justify-content: center;
    margin-top: 40px;
    
}
.app-download-platforms{
    transition: 0.5s;
    cursor: pointer;

}
.app-download-platforms :hover{
    transform: scale(1.05);
}